$backgroundColor: linear-gradient(to left, #2339e5, #4990ea);
$primaryColor: #ffffff;
$secondaryColor: rgb(240, 240, 240);
$text: #9c9c9c;
$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-bg-color: linear-gradient(to left, #4990ea, #2339e5);
$button-text-color: #fff;

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $backgroundColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar-brand.text-white {
  font-size: 2rem;
  color: $primaryColor;
}
.text-white.mt-5 {
  position: relative;
  font-size: 2.7rem;
  letter-spacing: 0.7px;
  font-weight: 350;
}
.main-content {
  height: 320px;
}

.building-img {
  height: 100%;
  width: 100%;
}
.vat-par {
  color: $secondaryColor;
}
.contact-par {
  color: $secondaryColor;
  line-height: 30px;
}
:root {
  color: $text;
  font: 1rem "PT Sans", sans-serif;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  border-radius: 12px !important;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  opacity: 0.7;
  cursor: pointer;

  &--primary {
    background: $button-bg-color;
    color: $button-text-color;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 12px 36px;

    &:hover {
      opacity: 1;
    }

    &:active {
      background: $button-bg-color;
      box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
    }
  }

  &--inside {
    margin-left: -96px;
  }
}

.form {
  &__field {
    width: 600px;
    background: #fff;
    color: $input-text-color;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 12px;
    outline: 0;
    padding: 22px 18px;
  }
}

.response-valid {
  background-color: #5fbcf5;
  // width: 420px;
  margin-top: 25px;
  margin-left: 245px;
  margin-right: 245px;
  border-radius: 12px;
}
.response-invalid {
  background-color: #d53636;
  // width: 420px;
  margin-top: 25px;
  margin-left: 245px;
  margin-right: 245px;
  border-radius: 12px;
}
.text-white.font-weight-bold.p-2 {
  display: block;
  width: 100%;
}
